.sunUpDown {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.sunUpDownIcons, 
.prognoseIcon,
.minMaxTemp {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 0px;
 
    
    svg {
        height: 50%;
        width: 100%;
    }

}
