.sunUpDown {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.sunUpDownIcons,
.prognoseIcon {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 50px 0px;
    // height: 100%;
    // width: 100%;
    
    svg {
        height: 50%;
        width: 100%;
    }

}
